@import '../func';
@import '../mixins';
$success-bg : #80c269;
$btn-border:#bcbcbc;
.pages{
        padding: 50px 0;
        font-family: 'consolas';
        ol{
            margin: 0 auto;
            width: 100%;
            font-size: 0;
            text-align: center; 
            li{
                width: 34px;
                height: 34px;
                line-height: 34px;
                @include inline-block(middle);
                font-size: 17.38px; 
                font-size: rem(17.38);
                text-align: center;
                cursor: pointer;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            li[data-num='-1']{
            margin-right: 13px; 
            margin-right: rem(13);
        }
        li[data-num='-2']{
            margin-left: 13px; 
            margin-left: rem(13); 
        }
        li[data-num='-3']{
            border-color: transparent !important;
            background: transparent !important;
        }
        li.active, 
        li:hover {
            background: $success-bg;
            border-color: $success-border;
            color: #fff;
        }
        li.active>a{
            cursor: default;
        }
    }
}